.container{
    width: 100%;
    height: 500px;
    margin: 50px 50px;
    padding: 20px 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);        
}

button{
    margin: 20px 10px;
}

input{
    width: 300px;
    padding: 10px 8px;
}

.col-6{
    padding: 20px 10px;
}
