<!DOCTYPE html>
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <section>
            <div class="jumbotron white">
                <h2 class="text-center">완료되었습니다!</h2>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button type="button" class="btn btn-primary text-center" onclick="location.href='/'">확인</button>
                </div>
            </div>
        </section>
    </div>
</body>