<!DOCTYPE html>
<head>
    <%- include('partials/head') %>
</head>
<body class="loginbg">
    <div class="container">
        <div class="jumbotron loginbg">
            <h3 class="text-center">근무기록 추가</h3>
          </div>
        <div class="card mx-auto" style="width:600px">
            <div class="card-body">
                <form id="frm" method="post" action="/history/<%=wpid%>/add" class="was-validated">
                    <input type="hidden" name="wpid" id="wpid" value="<%=wpid%>">
                    년
                    <select id="yyyy" name="yyyy" class="custom-select" style="margin-bottom:35px" required>
                        <option value="2021">2021</option>
                    </select>
                    월
                    <select id="mm" name="mm" class="custom-select" style="margin-bottom:35px" required>
                        <option value="01">1</option>
                        <option value="02">2</option>
                        <option value="03">3</option>
                        <option value="04">4</option>
                        <option value="05">5</option>
                        <option value="06">6</option>
                        <option value="07">7</option>
                        <option value="08">8</option>
                        <option value="09">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    일
                    <select id="dd" name="dd" class="custom-select" style="margin-bottom:35px" required>
                        <option value="01">1</option>
                        <option value="02">2</option>
                        <option value="03">3</option>
                        <option value="04">4</option>
                        <option value="05">5</option>
                        <option value="06">6</option>
                        <option value="07">7</option>
                        <option value="08">8</option>
                        <option value="09">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                    </select>
                    시작시간
                    <select id="st" name="st" class="custom-select" style="margin-bottom:35px" required>
                        <option value="00">0</option>
                        <option value="01">1</option>
                        <option value="02">2</option>
                        <option value="03">3</option>
                        <option value="04">4</option>
                        <option value="05">5</option>
                        <option value="06">6</option>
                        <option value="07">7</option>
                        <option value="08">8</option>
                        <option value="09">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                    종료시간
                    <select id="et" name="et" class="custom-select" style="margin-bottom:35px" required>
                        <option value="00">0</option>
                        <option value="01">1</option>
                        <option value="02">2</option>
                        <option value="03">3</option>
                        <option value="04">4</option>
                        <option value="05">5</option>
                        <option value="06">6</option>
                        <option value="07">7</option>
                        <option value="08">8</option>
                        <option value="09">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                    <div class="btn-group float-right">
                        <button type="submit" class="btn btn-primary">추가하기</button>
                    </div>
                    <div class="btn-group float-right">
                        <button type="button" class="btn" onclick="location.href='/'">취소</button>
                    </div>
                </form>
            </div>
          </div>
    </div>
</body>