<!DOCTYPE html>
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container-fluid">
        <section>
            <% if(!isAuthenticated) { %>
            <div class="jumbotron white">
                <h2 class="text-center">로그인 후 서비스를 이용해주세요.</h2>
            </div>
            <div class="card-deck">
                <div class="card">
                    <div class="card-body text-center">
                        <button type="button" class="btn" onclick="location.href='/join'">
                            <img src="/images/join.png" class="icon"/>
                            <h2>회원가입</h2>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <button type="button" class="btn" onclick="location.href='/login'">
                            <img src="/images/login.png" class="icon"/>
                            <h2>로그인</h2>
                        </button>
                    </div>
                </div>
            </div>
            <%} else if(isAuthenticated && user.role == 'worker') {%>
            <div>
                <% if(user.workplace.length == 0) {%>
                    <div class="jumbotron white">
                        <h2 class="text-center">근무지를 추가해주세요.</h2>
                    </div>
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body text-center">
                                <button type="button" class="btn" onclick="location.href='/workplace'">
                                    <img src="/images/join.png" class="icon"/>
                                    <h2>근무지 추가</h2>
                                </button>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <%} else if(isAuthenticated && user.role == 'employer') {%>
                hi
            <%} %>
        </section>
        <%- include('partials/footer') %>
    </div>
</body>